:8080 {
  encode zstd gzip

  handle /api/* {
    reverse_proxy app:3000
  }

  handle /scenario-assets/* {
    reverse_proxy app:3000
  }

  handle /collab* {
    reverse_proxy app:1234
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    -Server
  }
}
